<nav class="navbar navbar-dark bg-black border-bottom border-secondary shadow-sm py-3 px-2 px-sm-4">
    <div class="container-fluid justify-content-center justify-content-md-start">
        <a class="navbar-brand d-flex flex-column flex-sm-row align-items-center gap-2 gap-sm-3 fw-bold text-center text-sm-start text-info m-0 p-0" href="/">
            
            <div class="bg-info rounded-3 d-flex align-items-center justify-content-center overflow-hidden shadow-sm"
                 style="width: 48px; height: 48px; min-width: 48px;">
                <img src="/Images/logo4.png" alt="VMS Logo" style="width: auto; height: 100%; object-fit: contain;" />
            </div>
  

            <div class="fs-4">
                <span class="text-white d-inline-block">Vellum</span>
                <span class="text-info d-inline-block">Media Saver(VMS)</span>

                
            </div>
        </a>
    </div>
</nav>


